@import url(
'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap'
);

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#020617;
  color:white;
  font-family:'Inter',sans-serif;
  min-height:100vh;
  overflow-x:hidden;
}

header{
  text-align:center;
  padding:60px 20px;
}

header h1{
  font-size:60px;
  font-weight:900;

  background:
    linear-gradient(
      90deg,
      #a855f7,
      #38bdf8
    );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

main{
  max-width:1300px;
  margin:auto;
  padding:20px;
}

.card,
.hero{

  background:
    rgba(15,23,42,.75);

  border-radius:28px;

  padding:30px;

  margin-bottom:25px;

  backdrop-filter:blur(18px);
}

.controls{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}

input,
select{

  flex:1;

  min-width:180px;

  background:#0f172a;

  border:none;

  color:white;

  padding:15px;

  border-radius:16px;
}

button{

  background:
    linear-gradient(
      90deg,
      #7c3aed,
      #38bdf8
    );

  border:none;

  color:white;

  padding:15px 20px;

  border-radius:16px;

  font-weight:700;

  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,
td{
  padding:18px;
  border-bottom:
    1px solid rgba(255,255,255,.06);
}

.player{
  display:flex;
  align-items:center;
  gap:12px;
}

.player img{
  width:45px;
  height:45px;
  border-radius:50%;
  object-fit:cover;
}
